<header class="main">
  <img src="/assets/logo.png" alt="MiddMap" width="200">
</header>
<div id="map"></div>
<footer class="main">
  <div id="slider"></div>
</footer>

<script>
  
function initmap() {
  // set up the map

  map = new L.Map('map');

  // create the tile layer with correct attribution
  var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib="";
  var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 18, attribution: osmAttrib});   

  map.setView(new L.LatLng( 44.008867044738814, -73.178),15);
  map.addLayer(osm);

  reader = new WP.EventReader(null, map);
  reader.fetch();


}
$(function() {
  var date = new Date();
  initmap();
  $("#slider").dateRangeSlider({
    bounds:{
      min: moment().toDate(),
      max: moment().add('days', 21).toDate()
    },
    defaultValues:{
      min: moment().toDate(),
      max: moment().add('days', 7).toDate()
    }
  });
  $("#slider").bind("valuesChanged", function(e, data){
    reader.showBetween(moment(data.values.min), moment(data.values.max));
  });
})
</script>