<header class="main">
  <h1>Middlebury</h1>
</header>
<div id="map"></div>


<script>
  
function initmap() {
  // set up the map

  map = new L.Map('map');

  // create the tile layer with correct attribution
  var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib="";
  var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 26, attribution: osmAttrib});   

  map.setView(new L.LatLng( 44.008867044738814, -73.178),15);
  map.addLayer(osm);
  var googleLayer = new L.Google('ROADMAP');
  // map.addLayer(googleLayer);

  reader = new EventReader(function(data) {
    this.markers = [];
    for(var i = 0; i < data.count; i++) {
      var ev = data.events[i]
      var ll = new L.LatLng(ev.place.lat, ev.place.lng);
      var marker = new L.Marker(ll);
      var time = moment(ev.start);
      marker.bindPopup(ev.name + " - " + ev.description + "<br>" + time.format("M/D h:mm a"));
      marker.addTo(map);
    }
  });
  reader.fetch();


}

initmap();
</script>

