<header class="main">
  <h1>Middlebury</h1>

</header>
<div id="map"></div>
<footer class="main">
  <!-- <input type="text" name="search" id="search"> -->
</footer>

<script>
  
function initmap() {
  // set up the map

  map = new L.Map('map');

  // create the tile layer with correct attribution
  var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib="";
  var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 18, attribution: osmAttrib});   

  map.setView(new L.LatLng( 44.008867044738814, -73.178),15);
  map.addLayer(osm);

  reader = new WP.EventReader(null, map);
  reader.fetch();


}
$(function() {
  initmap();
})
</script>